@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witam wszystkich tu serdecznie</h1>
    <p>Robie sprawko robi się niebezpiecznie</p>
    <p>Czas przygotowania: 5 minut
Czas smażenia: 25 minut
Liczba porcji: do 16 naleśników średnicy 24 cm

Kaloryczność kcal: 60 w 1 naleśniku
Dieta: wegetariańska
Składniki:

    1 pełna szklanka i 2 łyżki mąki pszennej
    3 średnie jajka
    1 szklanka mleka
    1 szklanka wody - zwykła lub gazowana
    4 łyżki oleju roślinnego
    szczypta soli

Szklanka ma u mnie pojemność 250 ml.
Do usmażenia naleśników użyłam szerokiej patelni do naleśników: średnica 24 cm.
Z podanej ilości składników wyszło mi 16 bardzo cienkich naleśników. 
Jajka wyjmij wcześniej z lodówki. Możesz też lekko podgrzać mleko do temperatury nie wyższej niż 40 stopni.

Kalorie policzone zostały na podstawie użytych przeze mnie składników. Jest to więc orientacyjna ilość kalorii, ponieważ nawet mąka może mieć inną ilość kalorii niż ta, której użyłam ja. 

Naleśniki szykuję przynajmniej raz w tygodniu. To danie proste, szybkie i uwielbiane przez dzieci. Możesz je podać na dowolny posiłek w ciągu dnia. Naleśniki możesz zabrać do pracy, do szkoły lub na piknik. Są po prostu boskie!</p>
</div>
